<footer class="footer" style="background-color: #b2d235;">
  <div class="has-text-centered">
  <span style="color:#fff;">© 2021 ADVANCED INFO SERVICE PLC. ALL RIGHTS RESERVED.</span>
  </div>
</footer>