<nav class="navbar">
    <div class="navbar-brand">
        <a href="/" class="navbar-item">
            <img src="https://www.ais.co.th/base_interface_v2/images/ais_logo.jpg">
        </a>
    </div>
</nav>